<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <script>
        var elms = document.getElementsByClassName( 'splide' );

        document.addEventListener( 'DOMContentLoaded', function () {
            
            new Splide( '#specificContent', {
                type    : 'loop',
                autoWidth : false,
                arrows : true,
                autoplay: 'false',
                perPage : 1,
                drag : 'true',

                
            }).mount();
            new Splide( '#documentaryPc', {
                type    : 'loop',
                autoWidth : false,
                arrows : false,
                autoplay: 'false',
                perPage : 1,
                drag : 'true',

                
            }).mount();
            new Splide( '#test', {
                type    : 'loop',
                // autoWidth : true,
                arrows : true,
                autoplay: 'false',
                perPage : 1,
                drag : 'true',
                padding : {left : '2rem', right: '2rem'},
                direction: 'rtl'
            

                
            }).mount();
            
        } );
        
    </script>
    <style>
        
        .splide__arrow--prev{
            background-color: white!important;
            margin: 0 10px 0 10px!important;
        }
        .splide__arrow--next{
            background-color: white!important;
            margin: 0 10px 0 10px!important;
        }
    </style>
    
</head>
<body class="bg-lime-50">
    <main class="max-w-[1350px] mx-auto">

        <section class="flex pc:flex-row mt-[20px] justify-center">   
            <div class="pc:w-[70%] flex pc:flex-row mobile:w-[98%]">
                <!-- -- title bar -- -->
                <div class="pc:w-[675px] pc:me-[15px] mobile:mx-auto mobile:w-[95%]">
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 mb-[10px] rounded-[5px]">
        
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">مطالب برگزیده:</span>
                        </div>
                        <div>
                            <img src="{{Vite::asset('resources/assets/array.svg')}}" alt="">
                        </div>
                    </div>
                    <!-- -- end title bar  -- -->
                    <!-- -- slider of selected content -- -->
                    
                    <section class="splide" id="specificContent">
                        <div class="splide__slider">
                              <div class="splide__track">
                                  <ul class="splide__list justify-center items-center">
                                      <li class="splide__slide text-center pc:h-[342px] mobile:h-fit">
                                        <img class="w-full rounded-[8px] object-fill" src="{{Vite::asset('resources/assets/sliderone.jpg')}}" alt="">
                                        

                                      </li>
                                      <li class="splide__slide text-center pc:h-[342px] mobile:h-fit">
                                        <img class="w-full rounded-[8px] object-fill" src="{{Vite::asset('resources/assets/slidertwo.jpg')}}" alt="">
                                         
                                        
                                      </li>
                                      <li class="splide__slide text-center pc:h-[342px] mobile:h-fit">
                                        <img class="w-full rounded-[8px] object-fill" src="{{Vite::asset('resources/assets/sliderthree.jpg')}}" alt="">
                                        
                                      </li>
                                  </ul>
                              </div>
                        </div>
                      
                        
                    </section>
                    
                    {{-- end slider of selected content --}}
                </div>
                
                <div class="mobile:hidden pc:block w-[229px] mx-[15px]">
                    
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 mb-[10px] rounded-[5px]">
    
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">مستند های پینشهادی:</span>
                        </div>
                        <div>
                            <img src="{{Vite::asset('resources/assets/array.svg')}}" alt="">
                        </div>
                    </div>
                    
                    <div class="flex flex-col items-center justify-center bg-[#BDD5C3] py-2 rounded-[5px] h-[342px]">
                        <section class="splide h-full" id="documentaryPc">
                            <div class="splide__slider h-full">
                                  <div class="splide__track h-full">
                                      <ul class="splide__list justify-center items-center">
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">زمین را ببوس</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          
                                      </ul>
                                  </div>
                            </div>
                          
                            
                        </section>
                    </div>
                    
                </div>
            </div>
            <div class="pc:w-[30%] mobile:hidden pc:block ms-[15px]">
                {{-- title bar  --}}
                <div class="bg-green-800 flex flex-row justify-between items-center p-1 rounded-[5px]">
        
                    <div>
                        <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">آخرین کتابچه‌ها:</span>
                    </div>
                    <div>
                        <img src="{{Vite::asset('resources/assets/array.svg')}}" alt="">
                    </div>
                </div>
                {{-- title bar  --}}

                <div class="flex flex-row justify-center items-center bg-[#BDD5C3] mt-[10px] h-[342px] rounded-[8px]">
                    <div class="w-[55%]">
                        <img class="h-[321px] ps-[10px]" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                    </div>
                    <div class="w-[45%]">
                        <span class="iransans-bold w-full block px-[10px]">یک بشقاب خالی ...</span>
                        <span class="text-white iransans-500 px-[10px]">نویسنده: ایمان ذکاوتمند</span>
                        <p class="iransans-500 text-justify px-[10px]">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        </p>
                    </div>
                </div>
            </div>
        </section>
            
        <section class="flex flex-row my-[30px]">
            <div class="w-[70%] mobile:hidden pc:block">
                {{-- title bar  --}}
                
                
                <div class="basis-1/3 mobile:hidden pc:block">
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 m-1 rounded-[5px]">
            
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">محتوای چند رسانه‌ای:</span>
                        </div>
                        <div>
                            <img src="{{Vite::asset('resources/assets/array.svg')}}" alt="">
                        </div>
                    </div>
                </div>
        
                
                {{-- end title bar  --}}
                <div class="mt-[10px]">
                    <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] my-[5px] h-[67px] pc:h-fit mx-auto bg-white">
                        <div class="w-1/3">
                            <img class="w-full" src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                        </div>
                        <div class="flex flex-col justify-center items-stretch grow">
                            <div class="w-full">
                                <span class="text-black text-[16px] iransans-500 mx-2">
                                    حلبک نیروگاه میروسکوپی!
                                </span>
                                <div>
                                    <p class="iransans-normal text-[15px] mx-2 text-justify">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center w-full">
                            
            
                                <div class="flex justify-center items-center flex-row">
                                    <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                    <p class="iransans-300 mx-1 text-[13px]">
                                        پسماند
                                    </p>
                                </div>
                                <div>
                                    <p class="mx-3">
                                        1402
                                    </p>
                                </div>
                                    
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] my-[5px] h-[67px] pc:h-fit mx-auto bg-white">
                        <div class="w-1/3">
                            <img class="w-full" src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                        </div>
                        <div class="flex flex-col justify-center items-stretch grow">
                            <div class="w-full">
                                <span class="text-black text-[16px] iransans-500 mx-2">
                                    حلبک نیروگاه میروسکوپی!
                                </span>
                                <div>
                                    <p class="iransans-normal text-[15px] mx-2 text-justify">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center w-full">
                            
            
                                <div class="flex justify-center items-center flex-row">
                                    <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                    <p class="iransans-300 mx-1 text-[13px]">
                                        پسماند
                                    </p>
                                </div>
                                <div>
                                    <p class="mx-3">
                                        1402
                                    </p>
                                </div>
                                    
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] my-[5px] h-[67px] pc:h-fit mx-auto bg-white">
                        <div class="w-1/3">
                            <img class="w-full" src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                        </div>
                        <div class="flex flex-col justify-center items-stretch grow">
                            <div class="w-full">
                                <span class="text-black text-[16px] iransans-500 mx-2">
                                    حلبک نیروگاه میروسکوپی!
                                </span>
                                <div>
                                    <p class="iransans-normal text-[15px] mx-2 text-justify">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center w-full">
                            
            
                                <div class="flex justify-center items-center flex-row">
                                    <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                    <p class="iransans-300 mx-1 text-[13px]">
                                        پسماند
                                    </p>
                                </div>
                                <div>
                                    <p class="mx-3">
                                        1402
                                    </p>
                                </div>
                                    
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="pc:grow pc:w-[30%] mobile:w-[95%] mobile:mx-auto">
                
                <div class="basis-1/3 pc:block">
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 m-1 rounded-[5px]">
            
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">اخبار جدید:</span>
                        </div>
                        <div>
                            <img src="{{Vite::asset('resources/assets/array.svg')}}" alt="">
                        </div>
                    </div>
                </div>
        
                
                
                <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] mt-[10px] h-[67px] mx-auto bg-white">
                    <div>
                        <img src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center items-center grow">
                        <div class="w-full">
                            <span class="text-black text-[16px] iransans-500 mx-2">
                                حلبک نیروگاه میروسکوپی!
                            </span>
                        </div>
                        <div class="flex flex-row justify-between items-center w-full pc:hidden">
                            
            
                            <div class="flex justify-center items-center flex-row">
                                <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                <p class="iransans-300 mx-1 text-[13px]">
                                    پسماند
                                </p>
                            </div>
                            <div>
                                <p class="mx-3">
                                    1402
                                </p>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] mt-[5px] h-[67px] mx-auto bg-white">
                    <div>
                        <img src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center items-center grow">
                        <div class="w-full">
                            <span class="text-black text-[16px] iransans-500 mx-2">
                                حلبک نیروگاه میروسکوپی!
                            </span>
                        </div>
                        <div class="flex flex-row justify-between items-center w-full pc:hidden">
                            
            
                            <div class="flex justify-center items-center flex-row">
                                <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                <p class="iransans-300 mx-1 text-[13px]">
                                    پسماند
                                </p>
                            </div>
                            <div>
                                <p class="mx-3">
                                    1402
                                </p>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] mt-[5px] h-[67px] mx-auto bg-white">
                    <div>
                        <img src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center items-center grow">
                        <div class="w-full">
                            <span class="text-black text-[16px] iransans-500 mx-2">
                                حلبک نیروگاه میروسکوپی!
                            </span>
                        </div>
                        <div class="flex flex-row justify-between items-center w-full pc:hidden">
                            
            
                            <div class="flex justify-center items-center flex-row">
                                <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                <p class="iransans-300 mx-1 text-[13px]">
                                    پسماند
                                </p>
                            </div>
                            <div>
                                <p class="mx-3">
                                    1402
                                </p>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] mt-[5px] h-[67px] mx-auto bg-white">
                    <div>
                        <img src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center items-center grow">
                        <div class="w-full">
                            <span class="text-black text-[16px] iransans-500 mx-2">
                                حلبک نیروگاه میروسکوپی!
                            </span>
                        </div>
                        <div class="flex flex-row justify-between items-center w-full pc:hidden">
                            
            
                            <div class="flex justify-center items-center flex-row">
                                <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                <p class="iransans-300 mx-1 text-[13px]">
                                    پسماند
                                </p>
                            </div>
                            <div>
                                <p class="mx-3">
                                    1402
                                </p>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] mt-[5px] h-[67px] mx-auto bg-white">
                    <div>
                        <img src="{{Vite::asset('resources/assets/1.svg')}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center items-center grow">
                        <div class="w-full">
                            <span class="text-black text-[16px] iransans-500 mx-2">
                                حلبک نیروگاه میروسکوپی!
                            </span>
                        </div>
                        <div class="flex flex-row justify-between items-center w-full pc:hidden">
                            
            
                            <div class="flex justify-center items-center flex-row">
                                <img class="ps-1" src="{{Vite::asset('resources/assets/icon/dot.svg')}}" alt="">
                                <p class="iransans-300 mx-1 text-[13px]">
                                    پسماند
                                </p>
                            </div>
                            <div>
                                <p class="mx-3">
                                    1402
                                </p>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="pc:hidden mobile:block pc:mx-[15px] mt-[10px] mobile:w-[95%] mobile:mx-auto">
                    
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 mb-[10px] rounded-[5px]">
    
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">مستند های پینشهادی:</span>
                        </div>
                        <div>
                            <img src="{{Vite::asset('resources/assets/array.svg')}}" alt="">
                        </div>
                    </div>
                    
                    <div class="flex flex-col items-center justify-center py-2 rounded-[5px]">
                        <section class="splide h-full w-full" id="test">
                            <div class="splide__slider h-full">
                                  <div class="splide__track h-full w-full">
                                      <ul class="splide__list justify-between items-center w-full">
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">زمین را ببوس</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{Vite::asset('resources/assets/kiss.svg')}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          
                                          
                                      </ul>
                                  </div>
                            </div>
                          
                            
                        </section>
                    
                        
                        
                    </div>
                    
                </div>
                
                
            </div>
           
        </section>

        <section class="tablet:hidden">
            <div class="flex flex-col mx-auto mt-[15px] w-full items-center justify-between pc:basis-1/3 pc:flex">
                <div class="flex flex-row justify-between items-center mx-auto w-full bg-[#166434] mobile:w-[95%] rounded-[5px]">
                    <p class="m-0 mr-[10px] iransans-bold text-[16px] text-white">محتوای چند رسانه‌ای:</p>
                    <img src="{{Vite::asset('resources/assets/icon/array.svg')}}" alt="">
                </div>
                <div class="flex flex-col justify-center mt-[10px] w-[95%]">
                    <div class="mx-auto h-fit">
                        <img src="{{Vite::asset('resources/assets/sliderone.jpg')}}" alt="" class="m-0 w-full">
                    </div>

                    <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                        <!--overflow post slider number 1-->
                        <div class=" h-[180px] overflow-hidden overflow-y-visible">

                            <div class="flex items-center justify-start h-[45px]">
                                <p class="m-0 w-[410px] pc:w-full mr-[10px] iransans-bold text-[16px]">تو هم میتونی تغییر ایجادکنی!<p>                
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center flex-row justify-start h-[45px]">
                                <img src="{{Vite::asset('resources/assets/icon/rectangle.svg')}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{Vite::asset('resources/assets/icon/rectangle.svg')}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{Vite::asset('resources/assets/icon/rectangle.svg')}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{Vite::asset('resources/assets/icon/rectangle.svg')}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{Vite::asset('resources/assets/icon/rectangle.svg')}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            
                        </div>
                        <!--end overflow post slider number 1-->
                    </div>
                </div>
            </div>
        </section>
        
       
    </main>
    
</body>
</html>

