<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{desription}}>
    <meta name="keywords" content={{keyword}}>
    <meta name="author" content={{pageAuthor}}>
    <title>{{tabTitle}}</title>


    <!-- style of this layout -->
    {{ vite src="resources/css/app.css" }}
    {{ vite src="resources/css/fontiran.css" }}

</head>
<body>
    {{template_content}}


    
</body>
</html>